@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}


.game-sideboard {
  height: 800px;
}

.gameboard {
  background-color: green;
}

.game-info {
  border: 2px solid black;
  border-radius: 2em;
  height: 30%
}

.played-card {
  padding: 1em;
  border-left: 5px black solid;
}

h4 {
  text-align: center;
}

.chatbox {
  border: 2px solid black;
  border-radius: 2em;
  height: 60%
}

.message-field {
  width: 90%;
}

.player-tiles {
  height: 100%;
  text-align: center;
}

.button {
  padding: 0
}

.player-tile {
  background-color: rgb(45, 120, 45);
  border: 2px solid black;
  border-radius: 2em;
  margin: 1em;
}

.open-slot {
  background-color: rgb(142, 174, 109);
}

.playing-card {
  background-color: white;
  border: 2px solid black;
  border-radius: .5em;
  height: 30%;
  width: 16%;
}

.card-space {
  width: 90%;
}

.cmon {
  height: 100%
}